$grey: #78859b;
$dark: #38424e;
$green: #5ab677;
$backColor: #f7f8fc;
$borderHeaderColor: rgba(205, 211, 221, 0.32);
$blackTitle: #0f0208;
$borderInputColor: #cdd3dd;
$counterColor: rgba(255, 255, 255, 0.32);
$red: #da4233;
$grey-second: rgba(247, 248, 252, 0.54);
$backFooter: #353535;